{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'CSS/sheet3.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/sheet5.css' %}" />

    <title>{{post.Name | title}}</title>

    <style>
      /* Adding media query for all the Images */
      @media (max-width: 768px) {
        img {
          width: 70%;
        }
      }

      @media (max-width: 768px) {
        #mImg {
          width: 100%;
          height: 100%;
        }
      }
    </style>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'Images/favicon.ico' %}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">InvestorHub</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/contact/"
              >Contact Us</a
            >
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Welcome {{request.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout/">Log-out</a>
              <a class="dropdown-item" href="/addContent/">Add Posts</a>
              <a class="dropdown-item" href="/displayall/">My Posts</a>
            </div>
          </li>

          {% else %}
          <li class="nav-item">
            <!-- Button to trigger Sign-up modal -->
            <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
              Sign-Up
            </button> -->
            <a
              class="nav-link"
              href="#"
              data-target="#signUp"
              data-toggle="modal"
              >Sign-up</a
            >
          </li>

          <li class="nav-item">
            <a
              href="#"
              class="nav-link"
              data-target="#logIn"
              data-toggle="modal"
              >Log-in</a
            >
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- SignUp Modal -->
    <div
      class="modal fade"
      id="signUp"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signUP"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signUp">Sign-Up Form</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/signup/" method="post">
              {%csrf_token%}
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  placeholder="Please Enter Full Name"
                  name="name"
                />
              </div>

              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                  name="email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  name="password"
                />
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  placeholder="Confirm your Password"
                  name="confirmPassword"
                />
              </div>

              <hr />
              <button type="submit" class="btn btn-primary">
                Join Community
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- LogIn Modal -->
    <div
      class="modal fade"
      id="logIn"
      tabindex="-1"
      role="dialog"
      aria-labelledby="logIn"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logIn">Log In</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/login/" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="loginEmail"
                  aria-describedby="emailHelp"
                  placeholder="Enter email id"
                  name="loginEmail"
                />
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="loginPassword"
                  placeholder="Password"
                  name="loginPassword"
                />
              </div>

              <hr />
              <button type="submit" class="btn btn-primary">Log-In</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong> {{ message }} </strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <!-- Main Content -->
    <div>
      <div class="container mt-3">
        <div class="card mb-3">
          <span class="bd border">
            <img src="/media/{{post.img1}}" class="card-img-top" id="mImg" />
          </span>

          <div class="card-body">
            <h2 class="card-title">{{post.Name | title}}</h2>
            <p class="card-text mt-2">
              <strong>Post by : </strong
              ><span style="color: rgb(27, 138, 212)"
                >{{post.author | title}}</span
              >
            </p>
            <a
              href="http://127.0.0.1:8000/category/{{post.Category}}"
              class="card-text"
              ><span class="badge badge-danger"
                >{{post.Category | title}}</span
              ></a
            >
            <p class="card-text mt-2">{{post.content | safe}}</p>
            <p class="card-text">
              <small class="text-muted"> {{post.date}} </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Section -->
    <section>
      <div class="container mb-3 mt-2">
        <div class="card mb-3 comment">
          <div class="card-body">
            <h5 class="card-title cmtext">Search Something</h5>
            <div class="search-bar">
              <div class="row">
                <form class="form-inline my-2 my-lg-0" method="get" action="/search/">
                  <input class="form-control mr-sm-2 ip" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
                  <button class="btn btn my-2 my-sm-0" type="submit">GO!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Comment Section -->
    <section>
      <div class="container">
        <div class="card mb-3">
          <div class="card-body">

          <!-- Comment Form -->
          <form action="/validateComment/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="comment">Add a Comment</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" id="commentText" name="commentText" rows="3" style="min-width: 100%;"></textarea>
              <input type="hidden" value="{{post.post_id}}" name="postID">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>

          <hr>
          {% for i in comments %}
          <span style="color:rgb(25, 131, 163)"><strong>{{i.user_name}}:</strong></span>
          <p>{{i.comment_text}}</p>
          <hr>
          {% endfor %}
          </div>

        </div>
      </div>
    </section>







    <!-- Card Below the Container -->
    <section class="bg-dark">
      <div class="container pt-3">
        <div class="row">
          {% for i in post1 %}
          <div class="card c" style="width: 18rem">
            <img
              src="/media/{{i.img1}}"
              class="card-img-top d"
              alt="Image not found"
            />
            <div class="card-body">
              <h4 class="card-title"><b>{{i.Name | title}}</b></h4>
              <p class="card-text" style="font-size: small">
                <div class="box">
                  {{i.content | safe }}
                </div>
              </p>
              <a href="http://127.0.0.1:8000/content/{{i.slug}}" class=""
                ><span class="badge badge-success">Read More</span></a
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Footer -->
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}" />
    <footer id="footer">
      <div class="copyrights">
        <p id="footerText">© All rights reserved | FarmBlock</p>
      </div>
    </footer>


    <!-- Custom Script -->
    <script src="{% static 'JavaScript/Script2.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
